@import '~bootstrap/scss/bootstrap';

#admin-layout {
    display: flex;

    aside {
        display: flex;
        flex-flow: column;
        gap: 2em;

        height: 100%;
        min-width: 200px;
        padding: 16px;
        border-right: 1px solid $secondary;
    }

    main {
        flex-grow: 1;
    }

}

.project-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: top;

    border-radius: 4px;

}